<tr
  hx-get="/news?page={{ .NextPage }}"
  hx-trigger="revealed"
  hx-swap="afterend"
>
  <th class="table-light" scope="row">
    <a href="{{ .PageNews.URL }}">{{ .PageNews.Title }}</a>
    <small class="text-muted">{{ .PageNews.Feed }}</small>
  </th>
</tr>
